#teams .content-container {
    display: inline-block;
    margin-bottom: 120px;  
}

#teams .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#teams .team-header {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 50px; 
    color: #333; 
    position: relative;
}

#teams .team-header::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background: var(--green-color);
    left: 0;
    bottom: -7px;
}

#teams .name {
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

#teams .position {
    font-weight: 600;
    font-family: Alegreya, sans-serif;
    font-size: 14px;
    text-align: center;
}

#teams .team-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 20px; 
}

#teams .team {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 40px;
}

#teams .team-member-container {
    display: flex;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 150px;
}

#teams .team-member {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

@media (max-width: 1230px) {

    #teams .content-container {
        display: inline-block;
        margin-bottom: 120px;
    }

    #teams .team-container {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        gap: 20px; 
    }

    #teams .team-header {
        text-align: center;
        margin-bottom: 50px; 
        color: #333; 
        position: relative;
    }
    
    #teams .team-header::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        background: var(--green-color);
        left: 0;
        bottom: -7px;
    }
    
    #teams .team {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
    
    #teams .team-member-container {
        display: flex;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 150px;
    }
    
    #teams .team-member {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}