header {
    min-height: 100vh;
    background: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center; 
}

header .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
}

header .welcome-container {
    position: absolute; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0 auto;
}

header .welcome-container .welcome-name {
    text-align: center;
    margin-bottom: 10px;
}

header .welcome-container .tagline-name {
    text-align: center;
    margin-top: 0px;
}