header {
    /* min-height: 100vh; */
    background-size: cover;
    background-position: center; 
}

header .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
}

header .welcome-container {
    position: absolute; 
    text-align: center;
    padding-top: 15%;
    padding-bottom: 0;
    margin: 0 auto;
}

header .welcome-container .welcome-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem; /* Adjust font size */
}

header .welcome-container .tagline-name {
    text-align: center;
    margin-top: 0px;
    font-family: Alegreya, sans-serif;
    font-size: 1.5rem;
}

/* Responsive styles */

/* Tablet screens (max-width: 1024px) */
@media (max-width: 1230px) {
    header {
        margin-bottom: 7ch; 
        width: 100%;
    }
    header .welcome-container {
        position: absolute; 
        text-align: center;
        padding-top: 15%;
        padding-bottom: 0;
        margin: 0 auto;;
    }

    header .wrapper {
        height: 12vh; /* Adjust wrapper height */
    }

    header .welcome-container .welcome-name {
        font-size: 2rem; /* Smaller font for tablets */
        margin-bottom: 5px;
    }

    header .welcome-container .tagline-name {
        font-size: 1.5rem; /* Adjust tagline font size */
    }
}

/* Mobile screens (max-width: 768px) */
@media (max-width: 768px) {
    header {
        min-height: 50vh; /* Reduce height for mobile */
    }

    header .wrapper {
        height: 10vh; /* Adjust wrapper height */
    }

    header .welcome-container {
        padding-top: 5%; /* Further reduce padding on mobile */
    }

    header .welcome-container .welcome-name {
        font-size: 1.5rem; /* Even smaller font for mobile */
    }

    header .welcome-container .tagline-name {
        font-size: 1rem; /* Smaller tagline font */
    }
}


