#system .content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
    gap: 120px;
    margin-bottom: 120px; 
}

#system .services-header {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 40px; 
    color: #333; 
    position: relative;
}

#system .services-header::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: var(--green-color);
    left: 0;
    bottom: -7px;
}

#system .title-header {
    text-align: center;
    margin-bottom: 40px; 
    color: #333; 
    position: relative;
}

#system .title-header::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    background: var(--green-color);
    left: 0;
    bottom: -7px;
}

/* Content container for each info block */
#system .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4px;
    margin-bottom: 10px;
    transition: all 400ms ease;
}

#system .info-content:hover {
    transform: scale(1.04);
}

#system .title {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 1230px) {
    #system .content-container {
        grid-template-columns: repeat(4, 1fr); /* 2 columns on tablets */
    }

    #system .title-header {
        text-align: center;
        margin-bottom: 50px; 
        color: #333; 
        position: relative;
    }
    
    #system .title-header::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 5px;
        background: var(--green-color);
        left: 0;
        bottom: -7px;
    }
}

@media (max-width: 768px) {
    #system .content-container {
        grid-template-columns: 1fr; /* 1 column on mobile devices */
        gap: 20px; /* Reduce the gap for smaller screens */
    }

    #system .title {
        font-size: 14px; /* Smaller font size for mobile */
    }
}
