:root {
    --green-color: #347928;
    --lightgreen-color: #C0EBA6;
    --cream-color: #FFFBE6;
    --yellow-color: #FCCD2A;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns child elements (including h2) to center */
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap; /* Allows content to wrap in smaller screens */
}

section .content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}